*{
    padding: 5px;
}
header{
    background-color: aqua;
    height: 700px;
    border-radius: 5px;
    padding-bottom: 90px;
}
#hero{
    display: flex;
}
.entete{
    display: flex;
    justify-content: space-between;background-color: aliceblue;
    padding: 40px;
    margin: 15px;
}
span{
    color: aqua;
    font-weight: bolder;
    font-size: 50px;
}
#lien a{
    text-decoration: none;
    font-size: 40px;
    margin: 5px;
}
#lampe{
    align-items: center;
    text-align: center;
}
#lampe h1{
    color: white;
    width: 100%;
    font-size: 50px;
}
.image1{
    width: 50%;
    position: absolute;
    top: 80px;
    right: 0;
}
#Fonctionnalité{
  background-color: rgba(184, 184, 13, 0.581);
  border-radius: 5px;
}
#Solar{
    text-align: center;
    padding-top: 2px;
    border-radius: 5px;
}
#Solar h1{
    color: white;
    font-size: 50px;
}
#cord{
    display: flex;
}
.poinClé{
    background: aqua;
    margin: 5px;
    border-radius: 5px;
}
.pointClé h1{
    font-size: 20px;
}
.Formcontenaire{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(0, 0 0,0.1);
    width: 100%;
    max-width: 400px;
}
.Formcontenaire h1{
    text-align: center;
}
.Forme-groupr{
    margin-bottom: 15px;
}
label{
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}
input,textarea{
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}
textarea{
    resize: vertical;
}
button{
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
button :hover{
    background-color: #007bff;  
}
footer{
    background-color: rgb(244, 248, 227);
    padding-top: 30px;
}
#copy{
    text-align: center;
}
